.prmain{
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pr_image{
    width: 500px;
    height: 250px;
    margin-bottom: 20px;
}
.pr{
    background-color: white;
    transition: all 0.5s;
}
b{
    color: red;
    margin-left: 23px;
}
.pr_content{
    margin-left: 20px;
    margin-bottom: 12px;
}
.pr:hover{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);
}

